html {
  font-size: var(--font-size-base);
}

body {
  color: var(--color-body-text);
  background-color: var(--color-background);
}

body,
p,
a,
button,
.menu-toggle * {
  transition: color var(--theme-transition-timing) ease-in,
    border-color var(--theme-transition-timing) ease-in,
    background-color var(--theme-transition-timing) ease-in;
}

/* Typography */
.title {
  font-family: var(--font-title);
  font-weight: 500;
}

.subtitle {
  font-family: var(--font-subtitle);
  font-weight: 400;
}

p,
.p {
  color: var(--color-body-text);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1rem;
}

a,
.a {
  color: var(--color-body-text);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1rem;

  text-decoration: none;
}

p svg,
.p svg,
a svg,
.a svg {
  --icon-size: 1em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 120%;
}

h1,
.h1 {
  font-size: var(--h1-font-size);
}

h2,
.h2 {
  font-size: var(--h2-font-size);
}

h3,
.h3 {
  font-size: var(--h3-font-size);
}

h4,
.h4 {
  font-size: var(--h4-font-size);
}

h5,
.h5 {
  font-size: var(--h5-font-size);
}

h6,
.h6 {
  font-size: var(--h6-font-size);
}

.small {
  font-size: 0.833rem;
}

.extra-small {
  font-size: 0.694rem;
}

@media only screen and (min-width: 768px) {
  p,
  .p,
  a,
  .a {
    font-size: 1.125rem;
  }
}

/* Buttons */
button,
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  width: fit-content;
  /* padding: 0.6em 1.2em; */
  padding: 1em 2em;

  color: var(--color-button-text);
  font-size: 1rem;
  font-family: var(--font-title);
  font-weight: 300;

  text-transform: uppercase;
  white-space: nowrap;
}

.button--primary {
  border: 1px solid var(--color-border);
  border-radius: 32px;
  background-color: var(--color-foreground);
}

.button--switch {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--icon-size);
  height: var(--icon-size);
  padding: 0.5rem;

  border-width: 1px;
  border-style: solid;
  border-top-color: var(--color-switch-border-light);
  border-left-color: var(--color-switch-border-light);
  border-bottom-color: var(--color-switch-border-dark);
  border-right-color: var(--color-switch-border-dark);

  transition: border var(--theme-transition-timing) ease-in-out;
}

/* .button--switch:active {
  border-top-color: var(--color-switch-border-dark);
  border-left-color: var(--color-switch-border-dark);
  border-bottom-color: var(--color-switch-border-light);
  border-right-color: var(--color-switch-border-light);
} */

.button svg {
  --icon-size: 1.5em;

  width: var(--icon-size);
  height: var(--icon-size);
}

@media only screen and (min-width: 768px) {
  .button--switch {
    padding: 1rem;
  }
}

/* Media */
svg {
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  max-width: var(--icon-size);
  max-height: var(--icon-size);

  flex: 0 0 auto;
}

svg.icon--hamburger {
  --adjusted-icon-size: calc(var(--icon-size) - 8px);

  width: var(--adjusted-icon-size);
  height: var(--adjusted-icon-size);
}

svg.icon--cross {
  --adjusted-icon-size: calc(var(--icon-size) - 8px);

  width: var(--adjusted-icon-size);
  height: var(--adjusted-icon-size);
}

/* Utilities */
.glass {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
