main {
  --section-padding: 1rem;

  max-width: calc(1200px + var(--section-padding));
  margin: 0 auto;
  padding: 0 var(--section-padding);
  
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  main {
    --section-padding: 2.5rem;
  }
}

#Header {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: var(--section-padding) 0;
}