body,
main {
  overflow-x: hidden;
}

main,
header,
footer {
  max-width: calc(1200px + var(--section-margin));
  margin: 0 auto;
  padding: var(--section-padding);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--section-gap);
}

#Header {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#Header .header__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.component--theme-toggle {
  position: relative;

  border-radius: 100%;

  appearance: none;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  main {
    padding: calc(var(--section-padding) / 2) var(--section-padding);
  }

  #Header .header__actions {
    flex-direction: row-reverse;
    flex: 1;
  }
}

@media only screen and (min-width: 1440px) {
  main {
    padding: var(--section-padding);
  }
}
