#Navbar {
  --menu-gap: 0.5rem;
  --icon-padding: 8px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

#Navbar .menu-toggle,
#Navbar .highlight {
  border-radius: 100%;
}

#Navbar .menu-toggle {
  z-index: 10;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(var(--icon-size) + 8px);
  height: calc(var(--icon-size) + 8px);
  padding: var(--icon-padding);

  color: var(--color-background);
  border: none;
}

#Navbar .menu-toggle > .line {
  --y: 0;
  --rotation: 0;
  --opacity: 1;

  position: absolute;

  display: block;
  width: 50%;
  height: 2px;

  background-color: var(--color-background);
  transform-origin: center;
}

#Navbar .menu-toggle > .line:nth-child(1) {
  --y: -5px;
  --rotation: -45deg;
  --opacity: 1;

  transform: translateY(var(--y));
}

#Navbar .menu-toggle > .line:nth-child(2) {
  --y: 0;
  --rotation: 0;
  --opacity: 0;

  transform: translateY(var(--y));
}

#Navbar .menu-toggle > .line:nth-child(3) {
  --y: 5px;
  --rotation: 45deg;
  --opacity: 1;

  transform: translateY(var(--y));
}

#Navbar ul {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--menu-gap);

  width: 100%;

  list-style-type: none;
  padding-inline: 0;

  border-radius: 24px;
}

#Navbar ul > li,
#Navbar .highlight {
  padding: var(--icon-padding);
}

#Navbar li.list-item--active {

}

#Navbar .highlight {
  --offset-top: calc(var(--icon-size) + var(--icon-padding) + var(--menu-gap));

  z-index: -1;
  position: absolute;
  top: var(--offset-top);

  display: block;
  width: var(--icon-size);
  height: var(--icon-size);

  box-sizing: content-box;
  background-color: var(--color-text);
}
